.todo-input-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-input,
.add-todo-btn {
	padding: 0.8rem;
	font-size: 1.5rem;
	outline: none;
	border: none;
}

.todo-input {
	background-color: white;
}

.add-todo-btn {
	background-color: rgba(0, 255, 255, 0.85);
	color: white;
	cursor: pointer;
}

@media screen and (max-width: 740px) {
	.todo-input,
	.add-todo-btn {
		padding: 0.5rem;
		font-size: 1rem;
		outline: none;
		border: none;
	}
}
